<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TikTok</title>
    </head>
    <body>
        Dados do Funcionário:
        <table>
            <tr>
                <th>Nome</th>
                <td>{{ funcionario.nome }}</td>
            </tr>
            <tr>
                <th>Data de Nascimento</th>
                <td>{{ funcionario.dataDeNascimento|date("d-m-Y") }}</td>
            </tr>
            <tr>
                <th>Data de entrada</th>
                <td>{{ funcionario.dataDeEntrada|date("d-m-Y") }}</td>
            </tr>
            <tr>
                <th>Tempo na empresa</th>
                <td>{{ funcionario.tempoNaEmpresa|date("%Y anos, %m meses, %d dias") }}</td>
            </tr>
        </table>
    </body>
</html>

